html,body {
    position: relative;
    font-family: "Open Sans";
    font-size: 14px;
    min-height: 100vh;
}

input,select,textarea {
    outline: none;
    border: none;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

// TODO: <a/>
a {
    position: relative;
    color: inherit;
    outline: none;
    &:hover,&:focus {
        color: inherit;
        text-decoration: none;
    }
}

.row {
    margin: 0;
}

.card .card-body {
    word-break: break-word;
}