#content {
    padding-top: $padding-top-content;

    .entry-header {
        position: relative;
        padding: 100px 0;
        font-size: 70px;
        text-align: center;
        font-family: "amatic sc";
        color: $theme-color-1;
    }

}
#content-wp {
    
    a {
        position: relative;
        color: inherit;
        font-weight: bold;
        outline: none;
        text-decoration: underline;
        &:hover,&:focus {
            color: inherit;
            text-decoration: underline;
        }
    }
    
    h1,h2,h3 {
        font-family: 'amatic sc';
        font-weight: bold;
    }
    h4,h5,h6 {
        font-weight: bold;
    }
    h1 {font-size: 50px;}
    h2 {font-size: 45px;}
    h3 {font-size: 40px;}
}