#contact {
    .sequence {
        .layer-bg {
            .dot-2 {
                top: 250px;
            }
            @include media-breakpoint-down(sm){
                .dot-2 {opacity: 0;}
            }
        }
    }
    .header {
        padding: 100px 0;
        .card {
            width: 100%;
            max-width: 700px;
            text-align: center;
            margin: auto;
            .btn {
                margin: auto;
            }
            &:after { 
                @include effect-bottom-triangle($theme-color-green-1);
            }
        }
    }
    .maps {
        min-height: unset;
        @include media-breakpoint-down(lg){
            .container {
                width: 100%;
            }
        }
        .title {
            text-align: center;
            padding: 40px 0;
            font-weight: bold;
        }
        iframe {
            width: 100%;
        }
    }
    .maps-2 {
        min-height: unset;
        @include media-breakpoint-down(lg){
            .container {
                width: 100%;
            }
        }
        .title_wrapper {
            position: relative;
            width: fit-content;
            margin: auto;
            margin-bottom: 30px;
            font-weight: bold;
            color: $theme-color-white;
            .title {
                position: relative;
                z-index: 2;
                padding: 20px;
                margin: 0;
                background: $theme-color-2;
            }
        }
        iframe {
            width: 100%;
            margin-bottom: 20px;
            border: 10px solid #d0cfcf!important;
        }
    }
}

.anr_captcha_field {
    padding: 1rem 0;
    > div > div {
        margin: 0 auto;
    }
}