#footer {
    position: sticky;
    top: 100%;
    color: mix($theme-color-white, transparent, 75);
    background: $theme-color-2 url("src/img/pattern-2.png") no-repeat -60px -150px;

    // Overwrite gallery, for resizing galley in footer, not for all pages
    .gallery-native {
        display: flex;
        a {
            @include normalize-a();
            height: unset;
            min-height: 80px;
        }
    }
    
    .footer { padding: 20px 0; }
    .footer-1 .container {
        padding-top: 50px;

        .row {
            width: 100%;
            margin: 0;
            justify-content: center;
            .column {
                padding: 8px;
                @include media-breakpoint-down(sm){
                    padding-left: 0;
                    padding-right: 0;
                }
                .box {
                    height: 100%;
                    padding: 10px 30px 30px 30px;
                    background: $theme-color-3;
                    .title,.widget-title {
                        @include title();
                    }
                    ul {
                        margin: 0 -20px;
                        list-style: none;
                        padding: 0;
                        margin: 0 -20px;
                        a {
                            @include normalize-a();
                            display: block;
                            width: 100%;
                            padding: 0 20px;
                            line-height: 40px;
                            text-decoration: none;
                            transition: $transition;
                            border-radius: 50px;
                            &:hover,&:focus {
                                background: mix(#000000, transparent, 30);
                            }
                        }
                    }
                }
            }
        }

        /* Email Newsletter Form */
        .form {
            position: relative;
            display: block;
            .input {
                input {
                    position: relative;
                    height: 40px;
                    width: 220px;
                    margin-right: 10px;
                    margin-top: 8px;
                    padding: 0 20px;
                    transition: $transition;
                    font-weight: 700;
                    border-radius: 5px;
                    background: mix($theme-color-white, transparent, 50);
                    &::placeholder {
                        font-weight: normal;
                        font-style: italic;
                        color: $theme-color-1;
                    }
                    &:hover,&:focus,&.active {
                        background: $theme-color-white;
                    }
                }
            }
            .btn {
                height: 40px;
                margin-top: 10px;
                background: $theme-color-4;
                svg {
                    margin-left: 10px;
                }
            }
        }
    }

    .footer-2 .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        color: mix($theme-color-white, transparent, 50);
        .custom-logo {
            opacity: .75;
            position: relative;
            height: 50px;
            width: auto;
        }
        .info {
            display: flex;
            flex-wrap: wrap;
            div {
                padding: 0 10px;
                letter-spacing: .5px;
                a {
                    @include normalize-a();
                    transition: $transition;
                    text-decoration: underline;
                    &:hover,&:focus {
                        color: $theme-color-white;
                    }
                }
            }
        }
    }

    .footer-3 {
        padding-bottom: 40px;
        color: mix($theme-color-white, transparent, 50);
        background: url('src/img/pattern-5.png') no-repeat 100% 50%;
        @media screen and (max-width: 767px) {
            background-position-x: 250px;
        }
        .container {
            display: flex;
            align-items: center;
            a {
                @include normalize-a();
                padding: 0 8px;
                font-size: 30px;
                transition: $transition;
                &:hover,&:focus {
                    color: $theme-color-white;
                }
            }
        }
    }

    /* Copyright Section */
    .footer-4 {
        padding: 44px 0;
        background: $theme-color-4;
        .container {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            .left svg { 
                font-size: 12px;
                margin-right: 6px;
            }
            a {
                &:hover {
                    text-decoration: underline;
                }
            }
            
            @media screen and (max-width: 605px) {
                display: block;
                text-align: center;
                .left {
                    opacity: .7;
                    transform: scale(.9);
                }
                .right {
                    padding-top: 6px;
                }
            }
        }
    }
}

.legals-menu {
    margin-top: 30px;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin-left: 5px;

            &:last-of-type {
                margin: 0;

                &::after {
                    display: none;
                }
            }

            &::after {
                display: inline-block;
                content: '-';
                margin-left: 7px;
            }

            a {
                font-size: 13px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}