/* Navigation */
.navbar {
    transition: $transition-2;
    color: $theme-color-white;
    background: $theme-color-1;
    padding-left: 15px;
    padding-right: 15px;
    .container {
        @include media-breakpoint-down(lg){
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .container {
        @include media-breakpoint-down(xs){
            padding-left: 0;
            padding-right: 0;
        }
    }

    a {
        @include normalize-a();
        padding: 10px 0;
        img.custom-logo { 
            height: 60px;
            width: auto;
            transition: $transition-2;
        } 
    }

    /* All the Menu list */
    .right-side {
        justify-content: flex-end;
        ul.navbar-nav {
            li {
                a {
                    @include normalize-a();
                    width: fit-content;
                    display: block;
                    padding: 6px 15px!important;
                    transition: $transition-2;
                    font-size: 22px;
                    font-family: "Amatic sc";
                    letter-spacing: 1px;
                    border-radius: 50px;
                    &:hover,&:focus,&.active {
                        background: mix(#000000, transparent, 20);
                    }
                }
                &.active > a {
                    background: mix(#000000, transparent, 20);
                }
            }
        }
        ul.dropdown-menu {
            padding: 0;
            overflow: hidden;
            li {
                a{
                    @include normalize-a();
                    width: 100%;
                    border-radius: 0;
                }
            }
        }
    }

    /* Small mode (active when scroll > 100px :: see in `js/src/script.js`) */
    &.small {
        a {
            @include normalize-a();
            padding: 5px 0;
            img.custom-logo {
               height: 50px;
            }
        }
        .right-side ul li a {
            @include normalize-a();
            font-size: 20px;
        }
    }
} /* END : Navigation*/