#impressie {
    .sequence {
        .layer-bg {
            .dot-2 {
                top: 250px;
            }
            @include media-breakpoint-down(sm){
                .dot-2 {opacity: 0;}
            }
        }
    }
    .fixed-video {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        pointer-events: none;
        transition: $transition-2;
        background: #000000f8;
        &.show {
            opacity: 1;
            pointer-events: all;
        }
        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            transform: translate(-50%,-50%);
            justify-content: center;
            align-items: center;
            iframe {
                width: 100%;
                @include media-breakpoint-up(md){
                    width: 640px;
                    height: 360px;
                }
                @include media-breakpoint-up(lg){
                    width: 880px;
                    height: 495px;
                }
                @include media-breakpoint-up(xl){
                    width: 836px;
                    height: 470px;
                }
                @media screen and (max-height: calc(360px + (2 * 80px))){
                    height: calc(100vh - (2 * 80px));
                }
            }
            .btn {
                position: absolute;
                top: calc(100% + 20px);
                display: flex;
                font-size: 30px;
                background: $theme-color-white;
                div {
                    margin-left: 10px; 
                }
            }
        }
    }
    .header {
        position: relative;
        padding: 100px 0;
        color: $theme-color-1;
        background-position: center;
        background-size: cover;
        .card {
            width: 100%;
            max-width: 700px;
            text-align: center;
            margin: auto;
            .btn {
                margin: auto;
                margin-top: 20px;
            }
            &::after {
                @include effect-bottom-triangle( $theme-color-green-1 );
            }
        }
    }
    .content {
        min-height: unset;
        a {
            @include media-breakpoint-up(xl){
                height: 400px;
            }
        }
    }
}