#list_news {
    margin-top: calc(0px - #{$padding-top-content});
    @include layer-bg();
    
    .header {
        position: relative;
        display: flex;
        align-items: center;
        min-height: calc(400px + #{$padding-top-content});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .bg {
            width: 100%;
            height: 400px;
        }
        .container {
            display: flex;
            margin-top: $padding-top-content;
            justify-content: center;
            .card {
                width: fit-content;
                z-index: 1;
                border: 0px;
                padding-bottom: 30px;
                &::after {
                    @include effect-bottom-triangle( $theme-color-green-1 );
                }
                &::before {
                    @include effect-bottom-image(
                        30px,
                        url("src/img/pattern-rectangle-white-2.svg") no-repeat 50% 70% / auto 18px
                    );
                }
                .card-body {
                    padding: 30px;
                }
                .card-title {
                    text-align: center;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
    }

    .section.content {
        min-height: unset;
        padding: 50px 0;
        padding-bottom: 0px;
        line-height: 26px;
        font-size: 15px;
        
        .container {
            .row {
                text-align: left;
                justify-content: center;
                .column {
                    padding: 14px;
                    .card {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .post-navigation {
                position: relative;
                width: 100vw;
                left: 50%;
                display: flex;
                padding: 40px 0;
                margin-top: 30px;
                flex-wrap: wrap;
                justify-content: center;
                transform: translateX(-50%);
                color: $theme-color-1;
                background: mix($theme-color-1, transparent, 15);
                &.wide { display: none; }
                @media screen and (min-width: 500px) {
                    &.small { display: none; }
                    &.wide { display: flex; }
                }
                .page-numbers {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    display: block;
                    flex-shrink: 0;
                    text-align: center;
                    border-radius: 50px;
                    color: mix($theme-color-1, transparent, 60);
                    @include media-breakpoint-down(sm){
                        width: 30px;
                    }
                    &::before {
                        @include afterBefore-center();
                        height: 80%;
                        width: 80%;
                        z-index: -1;
                        transition: $transition-2;
                        transform: translate(-50%,-50%) rotate(45deg);
                        background: transparent;
                    }
                    &:hover,&:focus {
                        &::before {
                            background: mix($theme-color-1, transparent, 15);
                        }
                    }
                    &.current {
                        margin: 0 10px;
                        color: $theme-color-white;
                        &::before {
                            @include afterBefore-center();
                            height: 80%;
                            width: 80%;
                            z-index: -1;
                            transform: translate(-50%,-50%) rotate(45deg);
                            background: $theme-color-green-1;
                        }
                    }
                    &.dots,&.next,&.prev {
                        &::before {content: none;}
                    }
                }
                a.page-numbers {
                    @include normalize-a();
                    transition: $transition-2;
                    &:hover, &:focus {
                        color: $theme-color-1;
                    }
                }
                a.page-numbers.next,a.page-numbers.prev {
                    @include normalize-a();
                    width: fit-content;
                    padding: 0 20px;
                    margin-left: 10px;
                    font-weight: bold;
                    border-radius: 0px;
                    color: $theme-color-green-1;
                    &::after {
                        @include afterBefore-centerBottom;
                        height: 2px;
                        width: 5px;
                        transition: $transition-2;
                        background: $theme-color-green-1;
                    }
                    &:hover, &:focus {
                        background: transparent;
                        &::after {
                            width: calc(90% - 40px);
                        }
                    }
                }
                a.page-numbers.prev {
                    margin-left: unset;
                    margin-right: 10px;
                }
            }
        }
    }
}