#menukaart {
    @include layer-bg();
    
    .header {
        .container {
            padding-top: 170px;
            margin-top: -100px;
            .card {
                border: 0px;
                .card-body {
                    padding-top: 30px;
                    padding-bottom: 60px;
                }
                .card-title {
                    text-align: center;
                }
                .action {
                    text-align: center;
                }
                .btn.download-menukaart-btn {
                    display: inline-block;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 16px 26px;
                    font-size: 20px;
                    color: inherit;
                    background: mix($theme-color-white, transparent, 20);
                    @include media-breakpoint-down(xs){
                        padding: 16px 14px;
                        font-size: 16px;
                    }
                    svg {
                        margin-left: 10px;
                        animation: downloadMenukart 1.3s 0s ease-out infinite;
                    }
                    &:hover,&:focus {
                        color: $theme-color-1;
                        background: $theme-color-white;
                    }
                }
                @keyframes downloadMenukart {
                    20% { transform: translateY(0%); }
                    40% { transform: translateY(-25%); }
                    60% { transform: translateY(25%); }
                    80% { transform: translateY(0%); }
                }
                &::before {
                    @include effect-bottom-image(
                        30px,
                        url("src/img/pattern-rectangle-white-2.svg") no-repeat 50% 70% / auto 18px
                    );
                }
            }
        }
    }
}