#overons {
    @include layer-bg();
    
    .header {
        position: relative;
        margin-top: calc(0px - #{$padding-top-content});
        margin-bottom: 50px;
        min-height: unset;
        justify-content: center;
        align-items: center;
        .bg {
            width: 100%;
            height: 400px;
            background-size: cover;
            background-position: center;
        }
        .container {
            margin-top: -100px;
            .card {
                width: 100%;
                margin: auto;
                z-index: 1;
                border: 0px;
                .card-body {
                    padding-top: 30px;
                    padding-bottom: 60px;
                }
                .card-title {
                    text-align: center;
                }
                
                .card-text {
                    h2, h3, h4, h5, h6 {
                        font-size: 26px;
                        letter-spacing: .2rem;
                    }
                }
                &::before {
                    @include effect-bottom-image(
                        30px,
                        url("src/img/pattern-rectangle-white-2.svg") no-repeat 50% 70% / auto 18px
                    );
                }
            }
        }
    }

    .section.list {
        min-height: unset;
        padding: 30px 0px;
        .title {
            font-weight: bold;
            text-align: center;
            padding: 20px 0 40px 0;
        }
    }
    .list-1 {
        .row {
            .column {
                padding: 0;
                padding-top: 10px;
                text-align: center;
                .content {
                    line-height: 26px;
                    padding: 10px 0;
                    font-size: 16px;
                    font-weight: bold;
                    color: $theme-color-2;
                    border-bottom: 4px solid $theme-color-2;
                }
                &:nth-child(even){
                    padding-left: 20px;
                }
                &:nth-child(odd){
                    padding-right: 20px;
                }
                @include media-breakpoint-down(sm){
                    &:nth-child(even){
                        padding-left: 0px;
                    }
                    &:nth-child(odd){
                        padding-right: 0px;
                    }
                }
            }
        }
    }

    .list-2 {
        .row {
            justify-content: center;
        }
        .column {
            padding: 10px;
            @include media-breakpoint-down(xs){
                padding: 10px 0;
            }
            .btn {
                position: relative;
                width: 100%;
                padding: 25px;
                overflow: hidden;
                font-size: 16px;
                font-weight: bold;
                color: $theme-color-white;
                transition: $transition;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                .content {
                    position: relative;
                    width: fit-content;
                    min-width: 150px;
                    padding: 30px 15px;
                    margin: auto;
                    z-index: 1;
                    transform: scale(1);
                    transition: $transition;
                    background: mix($theme-color-1, transparent, 80);
                    span {
                        position: relative;
                        display: block;
                        margin-top: -10px;
                        @include title();
                        font-size: 26px;
                        transition: $transition;
                        transform: scale(1);
                        &::after {
                            @include effect-bottom-image(
                                -5px,
                                url("src/img/pattern-circle.svg") no-repeat 50% 70% / auto 8px
                            );
                        }
                    }
                }
                &::after {
                    @include afterBefore-null();
                    height: 100%;
                    width: 100%;
                    z-index: 0;
                    background: #00000040;
                }
                &:hover,&:focus {
                    .content {
                        transform: scale(3);
                        span {
                            transform: scale(calc(1/3));
                        }
                    }
                }
            }
        }
    }

    .list-3 {
        .row {
            justify-content: center;
            .column {
                padding: 14px;
                @include media-breakpoint-down(xs){
                    padding: 14px 6px;
                }
                .card {
                    height: 100%;
                    padding: 30px 20px;
                }
            }
        }
    }

    .button-bottom {
        position: relative;
        width: fit-content;
        display: block;
        margin: auto;
        margin-bottom: 50px;
        font-size: 16px;
        padding: 14px 20px;
        color: $theme-color-white;
        background: $theme-color-green-1;
    }
}