#privacy-policy {
    @include layer-bg();

    .section {
        min-height: unset;
        padding: 80px 0;
        .card {
            padding: 20px;
            border: none;
            border-radius: 0;
            .card-title {
                @include title();
                margin-bottom: 6px!important;
                font-size: 50px;
                font-weight: 700;
            }
            .card-subtitle {
                padding-bottom: 20px;
            }
        }
    }
}