#reserveren {
    @include layer-bg();
    
    .header {
        position: relative;
        margin-top: calc(0px - #{$padding-top-content});
        min-height: unset;
        justify-content: center;
        align-items: center;
        .bg {
            width: 100%;
            height: 400px;
            background-size: cover;
            background-position: center;
        }
    }

    .embed-form {
        padding-top: 0;
        @include media-breakpoint-down(md){ padding: 0; }
        .container {
            @include media-breakpoint-down(md){ max-width: 100%;padding: 0; }
            .form {
                width: 100%;
                max-width: 1000px;
                margin: auto;
                padding: 10px 50px;
                @include media-breakpoint-down(md){ padding: 10px 30px; }
                @include media-breakpoint-down(sm){ padding: 10px 20px; }
                
                .container {
                    padding: 0 20px;
                    margin-top: -100px;
                    margin-bottom: 50px;
                    .card {
                        position: relative;
                        width: 100%;
                        max-width: 700px;
                        margin: auto;
                        z-index: 1;
                        transform: none;
                        border: 0px;
                        background: $theme-color-2;
                        &::after {
                            @include effect-bottom-triangle($theme-color-2);
                        }
                        .card-body {
                            padding-top: 30px;
                            padding-bottom: 60px;
                        }
                        .card-title {
                            text-align: center;
                        }
                        &::before {
                            @include effect-bottom-image(
                                30px,
                                url("src/img/pattern-rectangle-white-2.svg") no-repeat 50% 70% / auto 18px
                            );
                        }
                    }
                }

                form {
                    max-width: 700px;
                    margin: auto;
                }
            }
        }
    }
}