#single {
    margin-top: calc(0px - #{$padding-top-content});
    @include layer-bg();
    
    .header {
        position: relative;
        display: flex;
        align-items: center;
        min-height: calc(400px + #{$padding-top-content});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .bg {
            width: 100%;
            height: 400px;
        }
        .container {
            display: flex;
            margin-top: $padding-top-content;
            justify-content: center;
            .card {
                width: fit-content;
                z-index: 1;
                border: 0px;
                .card-body {
                    padding: 30px;
                }
                .card-title {
                    text-align: center;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
                .card-title-data {
                    opacity: .6;
                }
            }
        }
    }

    .section.content {
        min-height: unset;
        padding: 50px 0;
        line-height: 26px;
        font-size: 15px;
        h1,h2,h3 {
            font-family: 'amatic sc';
            font-weight: bold;
        }
        h4,h5,h6 {
            font-weight: bold;
        }
        h1 {font-size: 50px;}
        h2 {font-size: 45px;}
        h3 {font-size: 40px;}

        blockquote {
            position: relative;
            margin: 40px 20px;
            padding-left: 30px;
            font-size: 26px;
            line-height: 2.5rem !important;
            color: #00000090;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 4px;
                border-radius: 10px;
                background: #00000020;
            }
            * {
                line-height: 2.5rem !important;
            }
        }
    }
}