@mixin effect-bottom-image(
    $bottom: 30px,
    $bg: url("src/img/pattern-rectangle-2.svg") no-repeat 50% 70% / auto 18px
){
    @include afterBefore-centerOnly();
    height: 20px;
    width: 100px;
    bottom: $bottom;
    z-index: 3;
    background: $bg;
}