@mixin afterBefore {
    content: "";
    position: absolute;
}
@mixin afterBefore-null {
    @include afterBefore();
    top: 0;
    left: 0;
}
@mixin afterBefore-center {
    @include afterBefore();
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin afterBefore-centerBottom {
    @include afterBefore();
    top: 100%;
    left: 50%;
    transform: translate(-50%,0%);
}
@mixin afterBefore-centerOnly {
    @include afterBefore();
    left: 50%;
    transform: translate(-50%);
}