button, .btn {
    transition: $transition;
    outline: none;
    cursor: pointer;
    color: inherit;
    border: 0;
    box-shadow: none;
    background: transparent;
    &:focus { outline: none; }
}
.btn-rounded {
    border-radius: 50%;
}

@mixin normalize-a(){
    font-weight: normal;
    text-decoration: none;
    outline: none;
    color: inherit;
    &:hover,&:focus {
        text-decoration: none;
    }
}

.menu-btn {
    display: inline-block;
    margin-top: 30px;
    background: rgba($black, .12);
}