
        .card.green {
            width: 700px;
            min-width: 250px;
            border-radius: 0px;
            border: 0px;
            color: $theme-color-white;
            background: $theme-color-green-1;
            .card-body {
                padding: 30px;
                padding-top: 20px;
                .card-title {
                    @include title();
                    font-size: 50px;
                }
                .btn {
                    position: relative;
                    width: fit-content;
                    display: flex;
                    line-height: 30px;
                    $thisColor: #aada60;
                    color: $thisColor;
                    div {
                        height: 30px;
                        width: 30px;
                        display: flex;
                        margin-left: 14px;
                        font-size: 16px;
                        font-weight: 700;
                        justify-content: center;
                        align-items: center;
                        transition: border $transition;
                        border-radius: 50%;
                        border: 2px solid $thisColor;
                    }
                    &:hover,&:focus {
                        color: $theme-color-1;
                        background: $theme-color-white;
                        div {
                            border-color: $theme-color-1;
                        }
                    }
                }
            }
        }