.card.bordered {
    z-index: 0;
    padding: 14px;
    border-radius: 0;
    border: 1px solid $theme-color-1;

    .card-img-top {
        height: 230px;
        margin-bottom: 16px;
        border-radius: 0!important;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .card-body {
        padding: 0;
        &.have-action {
            // 44px = Space for `.btn` , cause `.btn` is absolute
            padding-bottom: 44px;
        }
        .card-title {
            @include title();
            margin-bottom: 6px!important;
            font-size: 30px;
            font-weight: 700;
        }
        .card-title-data {
            margin-top: -14px;
            margin-bottom: 10px;
            text-transform: capitalize;
            font-size: 12px;
            color: #00000090;
        }
        .btn {
            // Changed to absolute
            // to remove the diffs position with other button in diffs `.card-body` size
            position: absolute;
            width: fit-content;
            bottom: 14px;
            left: 14px;
            display: flex;
            color: $theme-color-1;
            div {
                height: 24px;
                width: 24px;
                display: flex;
                margin-left: 8px;
                font-size: 12px;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border: 1px solid $theme-color-1;
            }
            &:hover,&:focus {
                background: mix($theme-color-1, transparent, 10);
            }
        }
    }

    &::after{
        content: "";
        position: absolute;
        height: calc( 100% + 14px );
        width: calc( 100% + 14px );
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%,-50%);
        border: 3px solid $theme-color-1;
    }
}