    .section.embed-form {
        min-height: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        background: #562f3030;
        .container {
            position: relative;
            .form {
                width: 60%;
                padding: 10px 120px;
                margin: 0;
                background: $theme-color-white;
                &::before {
                    @include effect-bottom-image(
                        30px,
                        url("src/img/pattern-rectangle-2.svg") no-repeat 50% 70% / auto 18px
                    );
                    content: none;
                }
                @include media-breakpoint-down(lg){ padding-left: 40px; }
                @include media-breakpoint-down(md){ padding: 10px 80px 10px 20px; }
                @include media-breakpoint-down(sm){
                    width: 100%;
                    padding: 10px 40px;
                    &::before {bottom: 15px;content: "";}
                }
                .title {
                    text-align: center;
                    font-weight: 700;
                    font-size: 46px;
                    padding: 0;
                    margin-bottom: 20px;
                    color: #4b2425;
                    background: $theme-color-white;
                }

                form{
                    justify-content: center;
                    p {
                        padding: 20px;
                    }
                    label {
                        position: relative;
                        padding: 30px 0 6px 32px;
                        font-weight: 700;
                        &::after {
                            @include afterBefore();
                            left: 0;
                            bottom: 14px;
                            height: 4px;
                            width: 20px;
                            border-radius: 10px;
                            background: #4b2425;
                        }
                    }
                    input[type="text"],input[type="email"],input[type="tel"],input[type="date"],select,textarea{
                        width: 100%;
                        height: 50px;
                        margin: 10px 0;
                        border-radius: 0;
                        border-left: 10px solid;
                        border-color: #4b242524;
                        background: linear-gradient(90deg,#ede9e9,#f9f7f7);
                        &.wpcf7-not-valid,&.error {border-color: #e91e63;}
                        &.success {border-color: #3f51b5;}
                    }
                    textarea {
                        height: 150px;
                        resize: none;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {   
                        color: $theme-color-white;
                        padding: 20px;
                        background: #b11818;
                        border: 0;
                    }
                }

                .btn {
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    color: $theme-color-white;
                    background: linear-gradient(90deg,#351b1c, #786667);
                }
                @include media-breakpoint-down(md){ padding: 60px 30px; }
            }
            @include media-breakpoint-down(sm){
                padding: 0px;
                .container {
                    width: 100%;
                    max-width: unset;
                    padding: 0px;}
            }
            
            .card {
                position: absolute;
                width: 50%;
                max-width: 100%;
                top: 0;
                right: 15px;
                z-index: 2;
                padding-bottom: 40px;
                transform: translate(0%,80px);
                background: $theme-color-2;
                
                &::after {
                    @include effect-bottom-triangle($theme-color-2);
                }
                &::before { 
                    @include effect-bottom-image(
                        30px,
                        url("src/img/pattern-rectangle-white-2.svg") no-repeat 50% 70% / auto 18px
                    );
                }

                .card-title {
                    background: $theme-color-2;
                }
            }
        }
        @include media-breakpoint-down(sm){
            .container .card{
                position: relative;
                width: 100%;
                right: 0;
                transform: translate(0,0);
            }
        }
        @include media-breakpoint-down(xs){
            padding: 0;
        }
    }