/* This style will affect `reserveren`, `contact`, and `footer subscriber`*/
        .form {
            position: relative;
            display: block;
            .input,form {
                input[type="text"],
                input[type="email"],
                input[type="tel"],
                input[type="date"],
                select,
                textarea {
                    position: relative;
                    height: 40px;
                    width: 220px;
                    margin-right: 10px;
                    margin-top: 8px;
                    padding: 0 20px;
                    transition: $transition;
                    font-weight: 700;
                    border-radius: 5px;
                    background: mix($theme-color-white, transparent, 50);
                    &::placeholder {
                        font-weight: normal;
                        font-style: italic;
                        color: $theme-color-1;
                    }
                    &:hover,&:focus,&.active {
                        background: $theme-color-white;
                    }
                }
            }
            .btn {
                height: 40px;
                margin-top: 10px;
                background: $theme-color-4;
                svg {
                    margin-left: 10px;
                }
            }
        }