@mixin layer-bg {
    .sequence {
        .layer-bg {
            .dot-2 {
                top: 150px;
            }
            .dot-1 {
                top: 450px;
            }
            @include media-breakpoint-down(md){
                .dot-1 {left: -100px;}
            }
            @include media-breakpoint-down(sm){
                .dot-1 {left: -200px;}
                .dot-2 {opacity: 0;}
            }
        }
    }
}