.sequence {
    position: relative;
    overflow: hidden;
    background: #f6f4f5;
    .layer-bg {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        .item {
            position: absolute;
            &.line {
                height: 100px;
                width: 100%;
                top: calc( (100% / 2) - 500px ); 
                background: url("src/img/pattern-3.png") no-repeat 0% 0%;
            }
            &.dot {
                height: 300px;
                width: 100%;
                background: url("src/img/pattern-1.png") no-repeat 0% 0%; 
                &-1 {
                    top: -150px;
                }
                &-2 {
                    top: calc( (100% / 2) - 600px );
                    background-position: 100% 0;
                }
            }
        }
    }
}