.section-2 {
    min-height: unset;
    height: fit-content;
    padding: 0 25px;

    // Change background position , because it messed up the text content
    @media screen and (max-width: 1100px) {
        background-position-y: -250px;
    }
    
    .content {
        padding: 60px 0;
        justify-content: center;
        text-align: center;
        .title {
            @include title();
            font-size: 50px;
            font-weight: 700;
            color: $theme-color-1;
        }
        .description {
            padding: 6px 0;
            font-size: 18px;
            font-style: italic;
            margin-bottom: 20px;
        }

        /* list of post */
        .row {
            text-align: left;
            justify-content: center;
            .column {
                display: flex;
                justify-content: center;
                padding: 14px;
                .card {
                    width: 100%;
                }
            }
        }
    }
}