.section-3 {
    display: flex;
    align-items: center;
    .background {
        position: absolute;
        height: 100%;
        width: 60%;
        top: 0;
        left: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .container {
        position: relative;
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content: flex-end;

        .card-text {
            font-size: 18px;
            font-style: italic;
        }
    }
    @media (max-width: 820px) {
        .background {
            width: 100%;
        }
        .card {
            max-width: calc(100% - 50px);
            right: 50%;
            transform: translateX(50%);
        }
    }
}