.section-1 {
    height: 100vh;
    color: $theme-color-white;   
    background: #0e0303;
    &::after {
        content: "Loading slider ...";
        position: absolute;
        top: 50%;
        font-size: 16px;
        text-align: center;
        width: 100%;
        transform: translateY(-50%);
    }

    /* bottom of section 1 (button list) */
    .bottom {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 3;
        background: linear-gradient(transparent,black);
        ul.navbar-nav {
            height: 130px;
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-direction: row;
            justify-content: center;
            font-family: "amatic sc";
            font-weight: 700;
            font-size: 36px;
            text-align: center;
            color: $theme-color-white;
            li{
                position: relative;
                width: 33.33%;
                height: 100px;
                transition: $transition;
                a {
                    @include normalize-a();
                    height: 100%;
                    display: grid;
                    align-items: center;
                    transition: $transition;
                }
                &:hover,&:focus,&:focus-within {
                    height: 130px;
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        &{
            padding: 0;
            justify-content: center;
            .wrap {
                max-width: calc(100% - 50px);
                margin: 0 25px;
            }
        }
    }
}