.section-break {
    position: relative;
    height: 60px;
    //background: url("src/img/pattern-3.png") no-repeat 0 0%;
    @media screen and (max-width: 768px) {
        background-position-x: -200px;
    }
    @media screen and (max-width: 450px) {
        background-position-x: -350px;
    }
}