.slider {
	height: 100%;
	opacity: 0;
	z-index: 2;
	transition: $transition;
	pointer-events: none;
	.slick-list {
		opacity: 0;
		height: 100%;
		.slick-track {
			height: 100%;
			.slider-item {
				display: flex;
				align-items: center;
				outline: none;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;

				// Item inside `slick-carousel`
				.container {
					padding: 0 160px;
					@include media-breakpoint-down(lg) { padding: 0 100px; }
					@include media-breakpoint-down(md) { padding: 0 80px; }
					@include media-breakpoint-down(xs) { padding: 0 20px; }
					.title {
						font-family: "open sans";
						font-size: 46px;
						font-weight: 700;
						font-style: italic;
						line-height: 1em;
					}
					.content {
						padding: 20px 0;
						font-style: italic;
						font-size: 18px;
						line-height: 1.3em;
					}
					.actions {
						display: inline-flex;
						.btn {
							padding-left: 34px;
							padding-right: 34px;
							box-sizing: border-box;
							transition: $transition;
							color: $theme-color-white;
							border-radius: 0;
							border: 2px solid $theme-color-white;
							background: transparent;
							&.round {
								position: relative;
								height: 40px;
								width: 40px;
								padding: 0;
								margin-left: 30px;
								border-radius: 50%!important;
							}
							&:hover,&:focus {
								color: $theme-color-1;
								background: $theme-color-white;
							}
						}
					}
				} // .container

			}
		}
	}
	.slick-arrow {
		display: none!important;
	}
	&.slick-initialized {
		opacity: 1;
		pointer-events: all;
		.slick-list {
			opacity: 1;
		}
	}
}